$categories: (
  ionic: color($colors, primary),
  angular: #ac282b,
  communication: #8e8d93,
  tooling: #fe4c52,
  services: #fd8b2d,
  design: #fed035,
  workshop: #69bb7b,
  food: #3bc7c4,
  documentation: hsl(275, 68%, 65%),
  navigation: #6600cc,
  developers: #fe4c52,
  business: #6600cc,
  creative: #69bb7b
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-schedule {
  @each $track, $value in auxiliary-categories() {
    ion-item-sliding[track="#{$track}"] ion-label {
      border-left: 2px solid $value;
      padding-left: 10px;
    }
  }
}
